# Generic
.DS_STORE
**/.DS_Store
*.pyc
*.pyo
__pycache__/

# ignore the data folder
data/

# model weights
model_data/

# file extensions
*.csv
*.tsv
*gz
*.zip
*.parquet

# image file extensions
*.png
*.jpg
*.jpeg

# ipython checkpoints
.ipynb_checkpoints/
