[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = {version = "*", markers = "sys_platform == 'linux' and platform_machine == 'aarch64'"}
tensorflow-metal = {version = "*", markers = "platform_machine == 'arm64'"}
tensorflow-macos = {version = "*", markers = "platform_machine == 'arm64'"}
keras = "*"
notebook = "*" 
nltk = "*"
graphviz = "*"
pydot = "*"
matplotlib = "*"
fastapi = "*"
uvicorn = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.11"
