[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = {version = "2.15", platform_machine ="!= 'arm64'"}
keras = "*"
notebook = "*" 
nltk = "*"
graphviz = "*"
pydot = "*"
matplotlib = "*"
fastapi = "*"
uvicorn = "*"
black = "*"
isort = "*"
six = "*"
typing_extensions = "*"

[dev-packages]

[requires]
python_version = "3.11"
